<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://line1.patch.madoka.biligame.net/act/cn/ipa/ActGame_cn-R-0.2.43-22159.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://123.59.55.123/c/Icon-120.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://123.59.55.123/c/Icon-120.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.emile.actgame.cn</string>
				<key>bundle-version</key>
				<string>0.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>魔法少女小圆</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
